<script type="text/template"
        mustache-name="voted-for-tweet"
        template-name="voted-for-tweet"
        >
<form id="tweet-vote" onsubmit="submitTweetBestOf2017(event)">
  <textarea name="tweet" rows="3">{{votedForTweet}}</textarea>
  <div>
    <a class="button button--cta" target="_blank" role="tweet">Tweet Your Votes</a>
    {{#viewResultsLink}}
    <a class="button" href="/bestof2017/results">View the results</a>
    {{/viewResultsLink}}
  </div>
</form>
</script>

<script type="text/template"
        route="^[Bb]est[Oo]f2017\/results$"
        page-title="Best of 2017 Results"
        transform="transformBestOf2017Results"
        completed="completedBestOf2017Results">
<div class="container bestof2017-page">
  <div class="panel">
    <h1>
        Best of 2017 {{^data.status.ended}}Live {{/data.status.ended}}Results
    </h1>
    {{#loading}}
      <p>Loading...</p>
    {{/loading}}
    {{#data}}
      <p class="last-updated-msg hide" role="last-updated"></p>
      {{#showThankYou}}
        <div class="alert alert-info" role="thank-you-alert">
          <button type="button" class="button button--close" onclick="clickCloseBestOf2017ThankYou()"><i class="fa fa-remove"></i></button>
          <h2>Thank you for voting!</h2>
          {{>voted-for-tweet}}
        </div>
      {{/showThankYou}}
      {{#status.canVote}}
      <a href="/bestof2017" class="button">Vote Now</a>
      {{/status.canVote}}
      <div role="bestof2017-results" class="bestof2017-results bestof2017 loading">
        {{>bestof2017-results}}
      </div>
    {{/data}}
  </div>
</div>
</script>

<script type="text/template"
        template-name=""
        mustache-name="bestof2017-results"
        >
      {{#results}}
        <div class="artist-row bestof2017-result empty no-top-song rank-{{rank}}" rank="{{rank}}" artist-id="{{artist._id}}">
          <div class="banner"></div>
          <span role="rank" class="rank">{{rank}}</span>
          <h3>{{artist.name}} <span class="votes" role="votes"></span></h3>
          <div class="top-song-container" role="top-song">loading...</div>
        </div>
      {{/results}}
</script>

<script type="text/template" mustache-name="bestof2017-topsong" template-name="bestof2017-topsong">
<h4>Top Song</h4><div class="top-song">{{>playSong}} <span class="top-song-name">{{title}} by {{artistsTitle}}</span></div>
<div class="download-area {{#hasGold}}has-gold{{/hasGold}}">
  <a class="silent button--mobile button button--cta download"
     target="_blank"
     title="Download Track"
     track-title="{{title}}"
     action="accessDownloadOrModal"
     href="{{downloadLink}}">
      <i class="fa fa-download"></i> Download Song
  </a>
  {{^hasGold}}
    <div class="requires-gold">Requires <a href="/gold">Gold</a></div>
  {{/hasGold}}
</div>
</script>

<script type="text/template"
        route="^[Bb]est[Oo]f2017$"
        page-title="Best of 2017"
        transform="transformBestOf2017"
        completed="completedBestOf2017">
<div class="container">
  <div class="panel">
    {{#data}}
      {{^status.open}}
        <h2>Voting is over!</h2>
        <p><a href="/bestof2017/results">See the results</a>.</p>
      {{/status.open}}
      {{#status.open}}
        {{^isSignedIn}}
        {{/isSignedIn}}
        {{#status.voted}}
          <h2>Thank you for voting!</h2>
          {{>voted-for-tweet}}
        {{/status.voted}}
        {{^status.voted}}
          <div class="bestof2017-voting bestof2017">
            {{#isSignedIn}}
              <h2>Vote For Your Top 10 Artists of 2017</h2>
              <p>Put them in any order. Also vote for your favorite song by that artist.</p>
            {{/isSignedIn}}
            {{^isSignedIn}}
              <h2>Sign In to Vote For Your Top 10 Artists of 2017</h2>
              <p>You need to <a href="/sign-in?redirect=bestof2017">sign in</a> or <a href="/sign-up?redirect=bestof2017">register</a> to vote.</p>
            {{/isSignedIn}}
            <p>Voting closes {{votingCloseTime}}.</p>
            <form role="bestof2017">
              {{#artistBlocks}}
                <div class="row artist-row artist-row-{{.}} empty">
                  <div class="banner"></div>
                  <div class="col-md-6 col-sm-12 voting-col voting-col-artists">
                    <h3 role="artist-name">Select an Artist</h3>
                    <select name="artist[{{.}}]" role="bestof2017-artist">
                      {{#artistOptions}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/artistOptions}}
                    </select>
                  </div>
                  <div class="col-md-6 col-sm-12 voting-col voting-col-song">
                    <h3 class="favorite-song-title">Favorite <span role="artist-name" class="artist-name"></span> Song</h3>
                    <select disabled role="song-poll" name="artistSongs[{{.}}]">
                    </select>
                  </div>
                </div>
              {{/artistBlocks}}
              <div class="submit-container">
                <button class="btn button--cta" type="button" onclick="clickSubmitBestOf2017(event)">Submit Your Votes</button>
                <br /><br /><a href="/bestof2017/results">View Results</a>
              </div>
            </form>
          </div>
        {{/status.voted}}
      {{/status.open}}
    {{/data}}
  </div>
</div>
</script>
