<script type="text/template"
        template-name="notice-complete-profile">
<div id="notice-complete-profile">
  <button onclick="closeCompleteProfileNotice(event)" type="button" class="button button--close-notice"><i class="fa fa-remove"></i></button>
  <h4>Please Complete Your Profile</h4>
  <form onsubmit="submitCompleteProfile(event)">
    <div class="complete-section">
      <label>Location</label>
      {{>location-autocomplete}}
    </div>
    <div class="complete-section">
      <label>Birthday</label>
      {{>birthday-fields}}
    </div>
    <div class="complete-section">
      <label>Email me about</label>
      {{>account-email-optin-news}}
      {{>account-email-optin-events}}
      {{>account-email-optin-merch}}
    </div>
    <div class="complete-section section-save">
      <button class="button button--white">Save</button>
    </div>
  </form>
</div>
</script>